{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Recipe App | Add Your Recipe</title>
{% endblock title %}

{% block stylesheet %} 
<link rel="stylesheet" href="{% static 'css/index.css' %}?{% now 'U' %}"/>
{% endblock stylesheet %}

{% block scriptfile %}
<script defer src="{% static 'js/script.js' %}?{% now 'U' %}"></script>
{% endblock scriptfile %}

{% block content %}

  <section id="container">
    {% include 'home/snippets/recipe-create-form.html' %}
  </section>

  {% include 'snippets/message.html' with messages=messages %}

{% endblock content %}
