/* GENERAL CSS */
body {
  margin: 0;
  padding: 0;
  position: relative;
}

* {
  box-sizing: border-box;
}

a,
button {
  transition: all 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
  padding: 0.55em 1.3em;
}
button:focus {
  outline: none;
}
ul {
  padding: 0;
  list-style-type: none;
}
/* NAVBAR */
.navbar,
.navbar > div {
  display: grid;
  grid-column-gap: 1em;
}

.navbar {
  width: 100%;
  padding: 0.5em 0.7em;
  background: rebeccapurple;
  color: white;
  grid-template-columns: 2fr 1fr;
  font-size: 1.25em;
}

.navbar > div {
  grid-template-columns: repeat(2, 1fr);
}

.navtext {
  justify-self: start;
  color: #fff;
  font-size: 1.15em;
}

.navlink {
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  background-color: transparent;
  padding: 0.5em 0.2em;
}
.navlink:hover {
  background-color: #ffffff20;
}

/* FOOTER */
.footer {
  width: 100%;
  padding: 1rem;
  background: rebeccapurple;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
}

/* MODAL */
.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.modal-body {
  position: relative;
  width: 450px;
  height: auto;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 0.5em;
}

.modal-body > .close {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 25px;
  font-weight: bold;
  padding: 0.05em 0.2em;
  border-radius: inherit;
  cursor: pointer;
}
.modal-body > .close:hover {
  background-color: antiquewhite;
}

.modal-header {
  width: 100%;
  padding: 0.4em 0.1em;
  border-bottom: 0.3px solid #aaa;
  margin-bottom: 1.5em;
  font-size: 1.27em;
}

label {
  background-color: red;
}
.user-input {
  width: 100%;
  padding: 0.8em 0.55em;
  font-size: 0.98em;
  border: 2px solid #aaa;
  border-radius: 5px;
  margin-bottom: 1.05em;
}
.user-input::placeholder {
  color: #aaa;
}
.user-input:focus {
  outline: none;
  border-color: rebeccapurple;
}

.button-submit {
  font-size: 1.05em;
  background-color: rebeccapurple;
  color: #fff;
  border-radius: 5px;
}
.button-submit:hover {
  background-color: rgb(159, 90, 228);
}

/* MESSAGES */
.messages {
  position: absolute;
  top: 4.5em;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 0;
  display: none;
}
.messages.show {
  display: block;
}
.messages .message {
  margin-left: 0;
  list-style: none;
  background-color: antiquewhite;
  padding: 1em;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 97% 3%;
  grid-column-gap: 0.4em;
  color: #fff;
  font-size: 1.2em;
}
.messages .message:not(:last-child) {
  margin-bottom: 1em;
}
.messages .message > .close {
  text-align: center;
  align-self: center;
  font-size: 1.5em;
  cursor: pointer;
}
.messages .message.warning {
  background-color: #ffc107;
  color: #000;
}
.messages .message.success {
  background-color: #28a745;
}
.messages .message.error {
  background-color: #dc3545;
}
.messages .message.info {
  background-color: #17a2b8;
}

/* HOME */
#container {
  padding: 0.5em;
  margin: 1em;

  /* border: 1px solid lightgrey; */
}
#container > * {
  margin-bottom: 3em;
}

/* SEACRH FORM */
.search-container {
  border-radius: 4px;
  background-color: #aaaaaa30;
  padding: 0.7em 0.7em 0.15em 0.7em;
}
.search-form {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.7em;
}
.search-form > .user-input {
  font-size: 1.1em;
  margin-bottom: 0;
}

/* RECIPE LIST */
.recipe-list-container {
  position: relative;
}

.card.skeleton {
  width: 300px;
  margin: auto;
  animation: example 0.7s ease-in-out infinite alternate;
  opacity: 0.25;
  transform: scale(0.7);
}
@keyframes example {
  to {
    opacity: 0.8;
    transform: scale(0.9);
  }
}

/* CARD COMPONENT */
.card-deck {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1.5em;
}
.card {
  position: relative;
  border: 1.1px solid #aaaaaa70;
  height: auto;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.4s linear;
}
.card,
.card:hover,
.card-content__extra {
  transition: all 0.4s linear;
}
.card:hover {
  background-color: #1f1d36;
  color: #fff;
  /* transition-delay: 0.1s; */
}
.card-img,
.card-content {
  border-radius: inherit;
}
.card-img,
.professional-card-img,
.recipe-thumbnail-img {
  width: 100%;
  height: 220px;
  background: #aaaaaa70;
}
.card-img > img,
.professional-card-img > img,
.recipe-thumbnail-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-content {
  padding: 1.05em 0.65em;
}
.card-content > *:not(:last-child) {
  margin-bottom: 0.6em;
}
.card-content__text {
  font-size: 1.1em;
}
.card-content__extra {
  font-style: italic;
  position: relative;
  color: grey;
}
.card:hover .card-content__extra {
  color: lightgrey;
}
.card > .stretched-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.stretched-link:before {
  content: '';
}
.card-btn {
  font-size: 1.1em;
  border-radius: 4px;
  width: 65%;
  background: rebeccapurple;
  color: #fff;
}
.card-btn:hover {
  background: rgb(159, 90, 228);
}
.professional-card {
  display: flex;
  flex-direction: column;
}
.professional-card > *:not(:last-child) {
  margin-bottom: 1em;
}
.professional-card-detail {
  padding: 0.7rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1em;
}
.professional-card-img {
  width: 150px;
  height: 150px;
  /* margin: auto; */
}
.professional-card-img,
.professional-card-img > img {
  border-radius: 50%;
}
.professional-card-action {
  text-align: center;
}
.card-content-list {
  position: relative;
  top: 50%;
}
.card-content-list > li {
  font-size: 1.1em;
  margin-bottom: 0.7em;
}
.card-content-list > li > b {
  margin-right: 0.4rem;
}

/* CARD SKELETON */
.card.skeleton {
  pointer-events: none;
}
.card.skeleton .card-content__text {
  width: 100%;
  padding: 0.6em;
  background-color: #aaaaaa70;
  border-radius: 4px;
}

/* PROFILE DISPLAY */
.profile-display-container {
  padding: 1rem;
  background-color: #aaaaaa30;
  border-radius: 4px;
  width: 50%;
  margin: auto;
}
.div-title {
  margin-top: 5rem;
  text-align: center;
}
.div-title > h1 {
  font-size: 2em;
}

/* RECIPE DISPLAY */
.recipe-detail-container {
  width: 50%;
  margin: auto;
  border: 0.7px solid #aaaaaa70;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;
  font-size: 1.1em;
}
.recipe-detail-container > *:not(:last-child) {
  margin-bottom: 2rem;
}
.recipe-header {
  position: relative;
  padding-bottom: 1.3em;
}
.recipe-title {
  font-size: 2em;
}
.recipe-author {
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: italic;
  color: rgb(139, 139, 139);
  font-size: 0.9em;
}
.recipe-description > p {
  line-height: 1.5;
}
.recipe-thumbnail-img {
  height: 400px;
  background-color: #aaaaaa80;
}
.recipe-thumbnail-img > img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.recipe-thumbnail-img > img.active {
  object-fit: contain;
}
.recipe-thumbnail-img,
.recipe-thumbnail-img > img {
  border-radius: 6px;
}
.recipe-ingredients > h3 {
  font-size: 1.3em;
}
.ingredients-list {
  padding-left: 1.4em;
  list-style: square;
}
.ingredients-list > *:not(:last-child) {
  margin-bottom: 1em;
}

/* RESPONSIVE */
@media screen and (min-width: 1200px) {
  .card-deck {
    grid-template-columns: repeat(4, 1fr);
  }
  .search-form {
    grid-template-columns: 2fr 2fr 1fr;
  }
  .card-content-list {
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .card-deck {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-content-list {
    transform: translateY(-50%);
  }
  .recipe-detail-container {
    width: 65%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .card-deck {
    grid-template-columns: repeat(2, 1fr);
  }
  .search-form {
    grid-template-columns: repeat(1, 1fr);
  }
  .recipe-thumbnail-img {
    height: 280px;
  }
  .navbar {
    grid-template-columns: 0.8fr 1fr;
  }
  .profile-display-container {
    width: 100%;
  }
  .professional-card-detail {
    grid-template-columns: 1fr;
  }
  .professional-card-detail > div {
    margin: auto;
  }
  .recipe-detail-container {
    width: 85%;
  }
  .recipe-title {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 576px) {
  .card-deck {
    grid-template-columns: repeat(1, 1fr);
  }
  .search-form {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-img,
  .recipe-thumbnail-img {
    height: 280px;
  }
  .navbar {
    grid-template-columns: 0.5fr 1fr;
  }
  .profile-display-container {
    width: 100%;
  }
  .professional-card-detail {
    grid-template-columns: 1fr;
  }
  .professional-card-detail > div {
    margin: auto;
  }
  .recipe-detail-container {
    width: 100%;
  }
  .recipe-title {
    font-size: 1.5em;
  }
}
