{% load static %}
<nav class="navbar">
  <div class="navleft">
    <a href="/" class="navtext">
      <img src="{% static 'media/recipe-app-logo-v3.png' %}" class="logo" width=40 height=40/>
      <span>Hello, {% if request.user.is_authenticated %}{{request.user.first_name}}{% else %}User{% endif %}</span>
    </a>
  </div>
  <div class="navright">
    {% if request.user.is_authenticated %}
    <a href="{% url 'home:profile' request.user.username %}" class="navlink">Profile</a>
    <a href="{% url 'accounts:signout' %}" class="navlink">Logout</a>
    {% else %}
    <a href="javascript:void(0)" class="navlink modal-opener" data-open="login-modal">Login</a>
    <a href="javascript:void(0)" class="navlink modal-opener" data-open="signup-modal">Sign Up</a>
    {% endif %}
  </div>
</nav>

{% if not request.user.is_authenticated %}
  {% include 'snippets/modal.html' %}
{% endif %}