{% load static %}
<div class="recipe-list-container">
  <!-- <div class="card skeleton">
    <div class="card-img"></div>
    <div class="card-content">
      <div class="card-content__text"></div>
      <div class="card-content__text"></div>
    </div>
  </div> -->


  <div class="card-deck">
    <div class="card">
      <div class="card-img">
        <img src="{% static 'media/recipe.jpg' %}" alt="img of recipe"/>
      </div>
      <div class="card-content">
        <p class="card-content__text">This is a very cool recipe of pizza.</p>
        <small class="card-content__extra">Mohit kumar</small>
      </div>
      <a href="#men" class="stretched-link"></a>
    </div>

    <div class="card">
      <div class="card-img">
        <img src="{% static 'media/recipe2.jpg' %}" alt="img of recipe"/>
      </div>
      <div class="card-content">
        <p class="card-content__text">This is a very cool recipe of pizza.</p>
        <small class="card-content__extra">Mohit kumar</small>
      </div>
      <a href="#men" class="stretched-link"></a>
    </div>

    <div class="card">
      <div class="card-img">
        <img src="{% static 'media/recipe3.jpg' %}" alt="img of recipe"/>
      </div>
      <div class="card-content">
        <p class="card-content__text">This is a very cool recipe of pizza.</p>
        <small class="card-content__extra">Mohit kumar</small>
      </div>
      <a href="#men" class="stretched-link"></a>
    </div>

    <div class="card">
      <div class="card-img">
        <img src="{% static 'media/recipe4.jpg' %}" alt="img of recipe"/>
      </div>
      <div class="card-content">
        <p class="card-content__text">This is a very cool recipe of pizza.</p>
        <small class="card-content__extra">Mohit kumar</small>
      </div>
      <a href="#men" class="stretched-link"></a>
    </div>

    <div class="card">
      <div class="card-img">
        <img src="{% static 'media/recipe5.jpg' %}" alt="img of recipe"/>
      </div>
      <div class="card-content">
        <p class="card-content__text">This is a very cool recipe of pizza.</p>
        <small class="card-content__extra">Mohit kumar</small>
      </div>
      <a href="#men" class="stretched-link"></a>
    </div>

    <div class="card">
      <div class="card-img">
        <img src="{% static 'media/recipe6.jpg' %}" alt="img of recipe"/>
      </div>
      <div class="card-content">
        <p class="card-content__text">This is a very cool recipe of pizza.</p>
        <small class="card-content__extra">Mohit kumar</small>
      </div>
      <a href="#men" class="stretched-link"></a>
    </div>

    <div class="card">
      <div class="card-img">
        <img src="{% static 'media/recipe7.jpg' %}" alt="img of recipe"/>
      </div>
      <div class="card-content">
        <p class="card-content__text">This is a very cool recipe of pizza.</p>
        <small class="card-content__extra">Mohit kumar</small>
      </div>
      <a href="#men" class="stretched-link"></a>
    </div>

    <div class="card">
      <div class="card-img">
        <img src="{% static 'media/recipe8.jpg' %}" alt="img of recipe"/>
      </div>
      <div class="card-content">
        <p class="card-content__text">This is a very cool recipe of pizza.</p>
        <small class="card-content__extra">Mohit kumar</small>
      </div>
      <a href="#men" class="stretched-link"></a>
    </div>
  </div>
</div>