{% load static %}
<div class="recipe-list-container">
  {% if recipes %}
  <div class="card-deck">
    {% for recipe in recipes %}
      <div class="card">
        <div class="card-img">
          <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}"/>
        </div>
        <div class="card-content">
          <p class="card-content__text">{{ recipe.title }}</p>
          <p class="card-content__text">{{ recipe.description }}</p>
          <small class="card-content__extra">{{ recipe.author.get_fullname }}</small>
        </div>
        <a href="{% url 'home:recipe_detail' recipe.slug %}" class="stretched-link"></a>
      </div>
    {% endfor %}
  </div>
  {% else %}
    {% if tag == 'home' %}
      <h3 style="text-align: center; color: #aaa">No Recipes found. Sorry</h3>
    {% else %}
      <h3 style="text-align: center; color: #aaa">{{ user.get_fullname|title }} doesnot have any Recipes yet</h3>
    {% endif %}
  {% endif %}
</div>