{% load static %}
<div class="profile-display-container">
  <div class="professional-card">
    <div class="professional-card-detail">
      <div class="professional-card-img">
        <img src="{% static 'media/chef-pf.jpg' %}" />
      </div>
      <div class="professional-card-content">
        <ul class="card-content-list">
          {% if not is_other_user %}
            {% include 'home/snippets/list-detail.html' with user=request.user %}
          {% else %}
            {% include 'home/snippets/list-detail.html' with user=other_user %}
          {% endif %}
        </ul>
      </div>
    </div>
    {% if not is_other_user %}
    <div class="professional-card-action">
      <a href="{% url 'home:recipe_create' %}" class="card-btn-link">ADD RECIPE</a>
    </div>
    {% endif %}
  </div>
</div>
