{% load static %}
<div class="profile-display-container">
  <div class="professional-card">
    <div class="professional-card-detail">
      <div class="professional-card-img">
        <img src="{% static 'media/chef-pf.jpg' %}" />
      </div>
      <div class="professional-card-content">
        <ul class="card-content-list">
          <li><b>Username:</b> {{ user.username }}</li>
          <li><b>Name:</b> {{ user.get_fullname }}</li>
          <li><b>Email:</b> {{ user.email }}</li>
        </ul>
      </div>
    </div>
    {% if not is_other_user %}
    <div class="professional-card-action">
      <a href="{% url 'home:recipe_create' %}" class="card-btn-link">ADD RECIPE</a>
    </div>
    {% endif %}
  </div>
</div>
