{% load static %}
<div class="recipe-detail-container">
  <div class="recipe-header">
    <h1 class="recipe-title">{{ recipe.title }}</h1>
    <a href="{% url 'home:profile' recipe.author.username %}" class="recipe-author">- {{ recipe.author.get_fullname }}</a>
  </div>
  
  
  <div class="recipe-description">
    <p>{{ recipe.description }}</p>
  </div>
  
  <div class="recipe-thumbnail-img">
    <img src="{{recipe.image.url  }}" alt="{{ recipe.title }}"/>
  </div>
  
  <div class="recipe-ingredients">
    <h3>Ingredients</h3>
    <ol class="ingredients-list">
      {% for ingredient in ingredients %}
        <li class="ingredients-item">{{ ingredient.description }}</li>
      {% endfor %}
    </ol>
  </div>
</div>

<script>
  document.querySelector('.recipe-thumbnail-img').addEventListener('click', e => e.target.classList.toggle('active'))
</script>